
<ion-content>
    <section class="blue">
      <video id="video-home" autoplay muted loop>
        <source src="assets/video-inicio.mp4" srcset="" type="video/mp4">
      </video>
      <div class="curve"></div>
    </section>

    <section class="white">
      <div class="titulo-white">Imprimí con potencia.</div>
      
      <div id="wrapper-svg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        <img src="assets/blob-haikei.svg" id="fondo-svg" alt="">
        <img src="assets/replicator2-01_0.png" id="impresora" alt="">
      </div>
      <a id="boton-tienda" [routerLink]="['/tienda']"><button>Tienda</button></a>
    </section>

    <section class="dark">
      <h1>Nice Curves!</h1>
      <p>A website is like a road. The more curves it has the more interesting it is.</p>
    </section>

    <ion-footer>
      <h1>MADE BY: MARCOS IORIO</h1>
      <p>A website is like a road. The more curves it has the more interesting it is.</p>
    </ion-footer>

</ion-content>
