ion-select#filtros{
    margin-top: 40px;
    display: block;
    background: #334756;
    color: white;
    outline: none;
    padding: 10px;
    border: none;
}

ion-select-option{
    border: none;
}

div.spinner-grow{
    width: 3em;
    height: 3em;
    color: #334756;
    text-align: center;
    display: block;
    margin: 0 auto;
}

div.spinner-container{
    position: absolute;
    top: 45%;
    left: 45%;
}

.boton-agregar{
    margin-top: 20px;
    margin-right: 15px;
   position: sticky;
   top: 50px;
    z-index: 101;
}

#boton-agregar{
    float: right;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(5, 180, 5);
    transition: all ease 0.3s;
    box-shadow: 3px 1px 8px 1px black;
}

#boton-agregar:hover{
    background-color: green;
    transition: all ease 0.3s;

}

#icono-agregar{
    font-size: 20px;
}

ion-content{
    --background: transparent !important;
}
