ion-select#filtros{
    margin-top: 40px;
    display: block;
    background: #334756;
    color: white;
    outline: none;
    padding: 10px;
    border: none;
}

ion-select-option{
    border: none;
}

div.spinner-grow{
    width: 3em;
    height: 3em;
    color: #334756;
    text-align: center;
    display: block;
    margin: 0 auto;
}

div.spinner-container{
    position: absolute;
    top: 45%;
    left: 45%;
}

